---
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";
const allPosts = await Astro.glob("./*.md");
---

<Layout title="My blog">
  <h1 class="text-5xl font-bold">My little blog</h1>
  <hr class="my-10" />
  <ul class="flex flex-col gap-5">
    {
      allPosts.map((post) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          image={post.frontmatter.image.url}
          alt={post.frontmatter.image.alt}
          description={post.frontmatter.description}
          date={post.frontmatter.pubDate.slice(0, 10)}
        />
      ))
    }
  </ul>
</Layout>
