---
import SocialLinkList from '@components/SocialLinkList.astro';
import { email, projects, skills, socialLinks } from '@utils/info';
import { Icon } from 'astro-icon';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Anatoly Titov">
  <section
    id="about"
    class="flex h-[calc(100vh-10rem)] flex-col justify-center space-y-12 align-middle"
  >
    <div
      class="flex flex-col items-center justify-center align-middle sm:flex-row sm:items-start"
    >
      <div class="group">
        <p class="font-mono text-9xl leading-none sm:text-[14rem]">
          Hi<span class="absolute">,</span>
        </p>
      </div>
      <div
        class="z-10 flex h-min max-w-fit flex-col sm:pt-5"
        style="text-align-last: justify;"
      >
        <p class="text-4xl font-medium sm:text-5xl">I'm Anatoly:</p>
        <ul class="list-inside list-disc text-xl">
          <li class="text-tgreen">A fullstack web developer,</li>
          <li class="text-tyellow">A hobbyist game developer,</li>
          <li class="text-tred">And a programming enjoyer.</li>
        </ul>
      </div>
    </div>
    <div class="flex justify-around">
      <div>
        <a
          href="#contact"
          class="group relative text-xl font-bold duration-100 ease-in-out active:scale-90"
        >
          <span>contact me</span>
          <span
            class="absolute bottom-px left-0 h-0.5 w-full bg-twhite mix-blend-exclusion duration-100 ease-in-out group-hover:h-full"
          ></span>
        </a>
      </div>
      <SocialLinkList socials={socialLinks} />
    </div>
  </section>
  <div class="my-7 flex justify-center">
    <Icon pack="tabler-icons" name="chevron-down" width="2em" height="2em" />
  </div>

  <section id="skills" class="my-20">
    <div class="flex flex-wrap justify-between">
      {
        skills.map(skillSet => (
          <div class="m-2">
            <h6 class="font-mono text-4xl font-medium text-tyellow">
              <Icon
                pack="tabler-icons"
                name={skillSet.icon}
                width="1em"
                height="1em"
              />
              {skillSet.title}
            </h6>
            <ul class="list-inside list-disc">
              {skillSet.skills.map(skill => (
                <li>
                  {skill.name}
                  {skill.love && (
                    <Icon
                      pack="tabler-icons"
                      name="heart-filled"
                      width="1em"
                      height="1em"
                      class="inline text-tred"
                    />
                  )}
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
    <p class="text-right text-tgreen">
      <Icon
        pack="tabler-icons"
        name="heart-filled"
        width="1em"
        height="1em"
        class="inline text-tred"
      /> means love
    </p>
  </section>

  <section id="projects" class="my-20 flex flex-col items-center">
    <h6 class="text-center font-mono text-5xl font-bold">I worked on:</h6>
    <ul class="flex w-3/4 flex-col sm:w-2/3 sm:flex-row">
      <div class="flex flex-col sm:w-1/2">
        {
          projects.map(project => (
            <li>
              <a href={project.url} target="_blank">
                <div
                  class="w-full border border-tpurple p-1 duration-100 ease-in-out hover:translate-y-1
             hover:border-tgreen active:-translate-y-1 sm:p-4"
                >
                  <img src={project.image.src} alt="" />
                  <p class="text-justify">{project.title}</p>
                </div>
              </a>
            </li>
          ))
        }
      </div>
    </ul>
  </section>

  <section id="contact" class="flex justify-center" class="my-20">
    <div class="w-min">
      <h6 class="text-xl font-medium text-tred">contact me</h6>
      <a
        class="font-mono text-4xl underline decoration-dashed hover:decoration-solid"
        href="mailto:hello@teatov.com"
      >
        {email.user}@<span class="hidden">SCREW EMAIL HARVESTERS</span>{
          email.domain
        }
      </a>
    </div>
  </section>
</Layout>
