---
import { languages } from '@i18n/ui';
import { useTranslations } from '@i18n/utils';
import Layout from '@layouts/Layout.astro';
import {
  education,
  email,
  experiences,
  pageTitle,
  projects,
  skills,
} from '@utils/info';
import { Icon } from 'astro-icon';
import { Image } from 'astro:assets';

const { lang } = Astro.params;

export async function getStaticPaths() {
  return Object.keys(languages).map(language => {
    return {
      params: {
        lang: language,
      },
    };
  });
}

const t = useTranslations(lang as keyof typeof languages);
---

<Layout title={t(pageTitle)}>
  <main class="space-y-12">
    <section id="about" class="flex h-screen flex-col">
      <div class="flex grow items-center justify-center">
        <div
          class="flex flex-col items-center justify-center align-middle sm:flex-row sm:items-start"
        >
          <div class="group">
            <p
              class={`font-mono ${
                lang === 'ru'
                  ? 'leading-[0.75] mr-4 text-9xl sm:text-[9rem]'
                  : 'sm:text-[14rem] leading-none text-[12rem]'
              }`}
              style="text-shadow: 0 3px 0px rgb(129 178 154), 0 6px 0px rgb(242 204 143), 0 9px 0px rgb(224 122 95);"
            >
              <Fragment set:html={t('hero.hi')} /><span
                class={`absolute ${
                  lang === 'ru' ? '-ml-6' : '-ml-6 sm:-ml-11'
                }`}>,</span
              >
            </p>
          </div>
          <div
            class={`z-10 flex h-min max-w-fit flex-col ${
              lang === 'ru' ? 'sm:pt-9 pt-6' : 'sm:pt-5'
            }`}
            style="text-align-last: justify;"
          >
            <p
              class="text-4xl font-bold underline decoration-wavy decoration-2 sm:text-5xl"
            >
              {t('hero.im')}:
            </p>
            <ul class="ml-4 list-disc text-xl">
              <li class="text-green">{t('hero.title1')},</li>
              <li class="text-yellow">{t('hero.title2')},</li>
              <li class="text-red">{t('hero.title3')}.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="my-4 flex justify-center">
        <Icon
          pack="tabler-icons"
          name="chevron-down"
          width="2em"
          height="2em"
        />
      </div>
    </section>

    <section id="skills" class="scroll-mt-32">
      <div class="flex flex-wrap justify-around">
        {
          skills.map(skillSet => (
            <div class="m-2">
              <h6 class="flex items-center font-mono text-4xl font-bold text-yellow">
                <Icon
                  pack="tabler-icons"
                  name={skillSet.icon}
                  width="1em"
                  height="1em"
                  class="inline"
                />
                <span>{t(skillSet.title)}</span>
              </h6>
              <ul class="list-inside list-disc">
                {skillSet.skills.map(skill => (
                  <li>
                    {skill.name}
                    {skill.love && (
                      <Icon
                        pack="tabler-icons"
                        name="heart-filled"
                        width="1em"
                        height="1em"
                        class="inline text-red"
                      />
                    )}
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
      <p class="text-right text-green">
        <Icon
          pack="tabler-icons"
          name="heart-filled"
          width="1em"
          height="1em"
          class="inline text-red"
        />
        {t('skills.meansLove')}
      </p>
    </section>

    <section id="experience" class="scroll-mt-32">
      <h6
        class="mb-6 text-center font-mono text-5xl font-bold underline decoration-green decoration-wavy decoration-2"
      >
        {t('experience.header')}:
      </h6>
      <ul>
        {
          experiences.map(experience => (
            <li>
              <div class="flex flex-col justify-between md:flex-row">
                <h6 class="font-mono text-4xl font-bold text-yellow">
                  {t(experience.title)}
                </h6>
                <div class="font-bold text-green">{t(experience.timeSpan)}</div>
              </div>
              <p class="text-xl font-bold">{t(experience.job)}</p>
              <p>{t(experience.description)}</p>
              <ul class="list-inside list-disc">
                {experience.bullets?.map(bullet => (
                  <li>{t(bullet)}</li>
                ))}
              </ul>
            </li>
          ))
        }
      </ul>
    </section>

    <section id="education" class="scroll-mt-32">
      <h6
        class="mb-6 text-center font-mono text-5xl font-bold underline decoration-yellow decoration-wavy decoration-2"
      >
        {t('education.header')}:
      </h6>
      <div class="flex flex-col justify-between md:flex-row">
        <h6 class="font-mono text-4xl font-bold text-yellow">
          {t(education.university)}
        </h6>
        <div class="font-bold text-green">{education.timeSpan}</div>
      </div>
      <p class="text-xl font-bold">{t(education.title)}</p>
    </section>

    <section id="projects" class="scroll-mt-32">
      <h6
        class="mb-6 text-center font-mono text-5xl font-bold underline decoration-red decoration-wavy decoration-2"
      >
        {t('projects.header')}:
      </h6>
      <div class="flex justify-center">
        <ul class="flex w-3/4 flex-col sm:w-2/3 sm:flex-row">
          {
            [projects.slice(0, 2), projects.slice(2)].map(projectsSlice => (
              <div class="flex flex-col sm:w-1/2">
                {projectsSlice.map(project => (
                  <li>
                    <a
                      href={project.url}
                      class="hover:translate-y-1hover:border-green block w-full border border-purple p-1 duration-100 ease-in-out active:-translate-y-1 sm:p-4"
                      target="_blank"
                      rel="nofollow"
                    >
                      <Image src={project.image} alt={t(project.alt)} />
                      <p class="text-justify">{t(project.title)}</p>
                    </a>
                  </li>
                ))}
              </div>
            ))
          }
        </ul>
      </div>
    </section>

    <section id="contact" class="flex scroll-mt-32 justify-center">
      <div class="w-min">
        <h6 class="text-xl font-bold text-red">{t('contact.header')}</h6>
        <a
          class="font-mono text-4xl underline decoration-dashed decoration-2 hover:decoration-solid"
          href="mailto:hello@teatov.com"
        >
          {email.user}@<span class="hidden">TAKE THIS, EMAIL HARVESTERS</span>{
            email.domain
          }
        </a>
      </div>
    </section>
  </main>
</Layout>
