---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <p><em>{frontmatter.pubDate.slice(0, 10)}</em></p>
  <h1 class="text-5xl font-bold">{frontmatter.title}</h1>
  <p><em>{frontmatter.description}</em></p>
  <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
  <article class="prose">
    <slot />
  </article>
</Layout>
