---
import SocialLinkList from '@components/SocialLinkList.astro';
import '@fontsource/ubuntu-mono/400.css';
import '@fontsource/ubuntu-mono/700.css';
import '@fontsource/ubuntu/400.css';
import '@fontsource/ubuntu/700.css';
import { languages } from '@i18n/ui';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { socialLinks } from '@utils/info';
import { Icon } from 'astro-icon';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  title: string;
}

const { title } = Astro.props;

type NavPage = {
  name: string;
  href: string;
};

const navPages: NavPage[] = [
  { name: t('nav.about'), href: '#about' },
  { name: t('nav.skills'), href: '#skills' },
  { name: t('nav.experience'), href: '#experience' },
  { name: t('nav.education'), href: '#education' },
  { name: t('nav.projects'), href: '#projects' },
  { name: t('nav.contact'), href: '#contact' },
];
---

<!doctype html>
<html lang={lang} class="dark scroll-smooth bg-purple text-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <div
      class="container mx-auto mt-0 flex h-full max-w-screen-lg flex-col justify-between px-4"
    >
      <header
        class="container fixed top-0 z-50 flex max-w-screen-lg items-center justify-between bg-gradient-to-b from-purple via-purple/50 via-75% py-4 pr-8"
      >
        <ul class="flex max-w-full flex-wrap justify-center gap-x-2">
          {
            navPages.map(page => (
              <li>
                <a
                  href={page.href}
                  class="block p-2 duration-100 ease-in-out hover:text-red active:text-white"
                >
                  {page.name}
                </a>
              </li>
            ))
          }
        </ul>
        <div>
          {
            Object.entries(languages).map(
              ([langHref, label]) =>
                langHref !== lang && (
                  <a
                    href={`/${langHref}/`}
                    class="group flex items-center p-2 duration-100 ease-in-out hover:text-green active:text-white"
                  >
                    <Icon
                      pack="tabler-icons"
                      name="world"
                      class="w-[24px] shrink-0 transition-transform duration-75 group-hover:rotate-45 group-active:rotate-180"
                    />
                    <div>{label}</div>
                  </a>
                )
            )
          }
        </div>
      </header>

      <slot />

      <footer
        class="mt-40 flex items-center justify-between p-8 text-green md:flex-row"
      >
        <aside>
          <p>&copy;{new Date().getFullYear()}. {t('footer.copyright')}.</p>
        </aside>
        <nav>
          <SocialLinkList socials={socialLinks} />
        </nav>
      </footer>
    </div>
  </body>
</html>
